{% extends '../common/common_template.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Удаление статуса" %}</h1>
    <form action="{% url 'statuses:delete' status.id %}" method="post">
        {% csrf_token %}
        <p>{% blocktrans %}Вы уверены, что хотите удалить статус{% endblocktrans %} {{ status.name }}?</p>
        {% trans "Да, удалить" as confirm_delete_button_text %}
        {% bootstrap_button confirm_delete_button_text button_type="submit" button_class="btn-primary" %}
    </form>
{% endblock %}
