{% extends '../common/common_template.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>Статусы</h1>
    {% url 'statuses:create' as create_link %}
    {% bootstrap_button "Создать статус" href=create_link button_class="btn-primary" %}
    {% if statuses %}
        <table class="table table-unbordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                    <tr>
                        <td>{{ status.id }}</td>
                        <td>{{ status.name }}</td>
                        <td>{{ status.created_at | date:"d.m.Y H:i" }}</td>
                        <td class="vstack gap-1">
                            <a href="{% url 'statuses:update' status.id %}">Изменить</a>
                            <a href="{% url 'statuses:delete' status.id %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
