{% extends '../common/list_template.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block page_title %}
    <h1>{% trans "Пользователи" %}</h1>
{% endblock %}
{% block table_headers_row %}
    {% if users %}
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans "Имя пользователя" %}</th>
            <th scope="col">{% trans "Полное имя" %}</th>
            <th scope="col">{% trans "Дата создания" %}</th>
            <th scope="col"></th>
        </tr>
    {% endif %}
{% endblock %}
{% block table_rows %}
    {% if users %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.date_joined | date:"d.m.Y H:i" }}</td>
                <td class="vstack gap-1">
                    <a href="{% url 'users:update' user.id %}">{% trans "Изменить" %}</a>
                    <a href="{% url 'users:delete' user.id %}">{% trans "Удалить" %}</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
