{% extends '../common/common_template.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>Пользователи</h1>
    {% if users %}
        <table class="table table-unbordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя пользователя</th>
                    <th>Полное имя</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.date_joined | date:"d.m.Y H:i" }}</td>
                        <td class="vstack gap-1">
                            <a href="{% url 'users:update' user.id %}">Изменить</a>
                            <a href="{% url 'users:delete' user.id %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
