{% extends '../common/list_template.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block page_title %}
    <h1>{% trans "Метки" %}</h1>
{% endblock %}
{% block create_button %}
    {% url 'labels:create' as create_link %}
    {% trans "Создать метку" as create_button_text %}
    {{ block.super }}
{% endblock %}
{% block table_headers %}
    {% if labels %}
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans "Имя" %}</th>
            <th scope="col">{% trans "Дата создания" %}</th>
            <th scope="col"></th>
        </tr>
    {% endif %}
{% endblock %}
{% block table_rows %}
    {% if labels %}
        {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at | date:"d.m.Y H:i" }}</td>
                <td class="vstack gap-1">
                    <a href="{% url 'labels:update' label.id %}">{% trans "Изменить" %}</a>
                    <a href="{% url 'labels:delete' label.id %}">{% trans "Удалить" %}</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
