{% extends '../common/list_template.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block page_title %}
    <h1>{% trans 'LabelsListTitle' %}</h1>
{% endblock %}
{% block create_button %}
    {% url 'labels:create' as create_link %}
    {% trans 'LabelCreateButtonText' as create_button_text %}
    {{ block.super }}
{% endblock %}
{% if labels %}
    {% block table_headers %}
        <tr>
            <th>ID</th>
            <th>{% trans 'LabelName' %}</th>
            <th>{% trans 'LabelCreatedAt' %}</th>
            <th></th>
        </tr>
    {% endblock %}
    {% block table_rows %}
        {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at | date:"d.m.Y H:i" }}</td>
                <td class="vstack gap-1">
                    <a href="{% url 'labels:update' label.id %}">{% trans 'LabelUpdateLink' %}</a>
                    <a href="{% url 'labels:delete' label.id %}">{% trans 'LabelDeleteLink' %}</a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endif %}
