{% extends '../common/common_template.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block content %}
    <h1 class="pb-4">{% trans 'TaskDetailTitle' %}</h1>
    <div class="card">
        <div class="card-header bg-secondary text-light">
            <h4>{{ task.name }}</h4>
        </div>
        <div class="card-body">
            <p class="card-title">{{ task.description }}</p>
            <hr>
            <div class="container text-left d-grid row-gap-2">
                <div class="row">
                    <div class="col-6 fw-semibold">{% trans 'TaskDetailAuthor' %}</div>
                    <div class="col-6">{{ task.author_name }}</div>
                </div>
                <div class="row">
                    <div class="col-6 fw-semibold">{% trans 'TaskDetailExecutor' %}</div>
                    <div class="col-6">{{ task.executor_name }}</div>
                </div>
                <div class="row">
                    <div class="col-6 fw-semibold">{% trans 'TaskDetailStatus' %}</div>
                    <div class="col-6">{{ task.status_name }}</div>
                </div>
                <div class="row">
                    <div class="col-6 fw-semibold">{% trans 'TaskDetailCreatedAt' %}</div>
                    <div class="col-6">{{ task.created_at | date:"d.m.Y H:i" }}</div>
                </div>
                {% if task.label_names %}
                    <div class="row">
                        <div class="col-6">
                            <p class="fw-semibold">{% trans 'TaskDetailLabels' %}</p>
                            <ul>
                                {% for label_name in task.label_names %}<li>{{ label_name }}</li>{% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <div class="vstack gap-1">
                <a href="{% url 'tasks:update' task.id %}">{% trans 'TaskUpdateLink' %}</a>
                <a href="{% url 'tasks:delete' task.id %}">{% trans 'TaskDeleteLink' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
