{% extends '../common/list_template.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block page_title %}
    <h1>{% trans 'TasksListTitle' %}</h1>
{% endblock %}
{% block create_button %}
    {% url "tasks:create" as create_link %}
    {% trans 'TaskCreateButtonText' as create_button_text %}
    {{ block.super }}
{% endblock %}
{% block page_filters %}
    {# Из-за ошибки в django-bootstrap5, которая не позволяет не устанавливать класс `is_valid` #}
    {# полям формы (из-за чего они выделяются как валидированные, что излишне и противоречит макету) #}
    {# принято решение добавить отрисовку полей вручную #}
    <div class="card">
        <div class="card-body bg-light">
            <form action="{% url 'tasks:list' %}" method="get">
                <div class="mb-3">
                    <label class="form-label" for="id_status">{% trans 'TaskFilterStatus' %}</label>
                    <select name="status" class="form-select" id="id_status">
                        {% for value, label in filter_form.status.field.choices %}
                            <option value="{{ value }}"
                                    {% if filter_form.status.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_executor">{% trans 'TaskFilterExecutor' %}</label>
                    <select name="executor" class="form-select" id="id_executor">
                        {% for value, label in filter_form.executor.field.choices %}
                            <option value="{{ value }}"
                                    {% if filter_form.executor.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_labels">{% trans 'TaskFilterLabels' %}</label>
                    <select name="labels" class="form-select" id="id_labels" multiple size="3">
                        {% for value, label in filter_form.labels.field.choices %}
                            <option value="{{ value }}"
                                    {% if value|stringformat:"s" in filter_form.labels.value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox"
                               name="own_tasks"
                               class="form-check-input"
                               id="id_own_tasks"
                               {% if filter_form.own_tasks.value %}checked{% endif %}>
                        <label class="form-check-label" for="id_own_tasks">{% trans 'TaskFilterOwnTasks' %}</label>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    {% trans 'TaskFilterShowButton' as filter_show_button_text %}
                    {% bootstrap_button filter_show_button_text button_type="submit" button_class="btn-primary" %}
                    {% trans 'TaskFilterResetButton' as filter_reset_button_text %}
                    {% bootstrap_button filter_reset_button_text button_type="reset" button_class="btn-secondary" %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block table_headers_row %}
    {% if tasks %}
        <tr>
            <th>ID</th>
            <th>{% trans 'TaskTableName' %}</th>
            <th>{% trans 'TaskTableStatus' %}</th>
            <th>{% trans 'TaskTableAuthor' %}</th>
            <th>{% trans 'TaskTableExecutor' %}</th>
            <th>{% trans 'TaskTableCreatedAt' %}</th>
            <th></th>
        </tr>
    {% endif %}
{% endblock %}
{% block table_rows %}
    {% if tasks %}
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>
                    <a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a>
                </td>
                <td>{{ task.status_name }}</td>
                <td>{{ task.author_name }}</td>
                <td>{{ task.executor_name }}</td>
                <td>{{ task.created_at | date:"d.m.Y H:i" }}</td>
                <td class="vstack gap-1">
                    <a href="{% url 'tasks:update' task.id %}">{% trans 'TaskUpdateLink' %}</a>
                    <a href="{% url 'tasks:delete' task.id %}">{% trans 'TaskDeleteLink' %}</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
